#images{
    max-width:700px;
} 

dialog {
    display: none;
    position: absolute;
    inset-inline-start: 0px;
    inset-inline-end: 0px;
    width: fit-content;
    height: fit-content;
    margin: auto;
    border-radius: 8px;
 
    backdrop-filter: blur(2px);
    border: 1px solid black;
}
/* внешний вид меню */
.context-menu {
    /* устанавливаем абсолютное позиционирование */
    position: absolute;
    /* не показываем меню с самого начала */
    display: none;
    /* цвет фона и настройки рамки вокруг меню */
    background-color: #fff;
    border: 1px solid #333;
    padding: 5px;
    /* ƒобавим тени */
    -moz-box-shadow: 5px 2px 10px rgba(0,0,0,0.5);
    -webkit-box-shadow: 5px 2px 10px rgba(0,0,0,0.5);
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
}

.highlighted{
    color:blue;
}
a {
    text-decoration: none; /* no underline */
    color:black;
}

textarea{
    width:100%;
    height:200px;
    display:block;
    max-width:1200px;
}
#divForModelItems {
    align-items: center;
}
.size1 {
    font-size: 2rem
}
.size2 {
    font-size: 1.7rem;
    margin-left: 3px;
}
.size3 {
    font-size: 1.4rem;
    margin-left:5px;
}
.size4 {
    font-size: 1.1rem;
    margin-left: 10px;
}
.size5 {
    font-size: 0.9rem;
    margin-left: 15px;
}
.size6 {
    font-size: 0.7rem;
    margin-left: 20px;
}
.hidden {
    display: none ;
}
.container {
    max-width: 1440px;
}
div, ul, li, span, p {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.box{
    display:none;
}
#rectangle {
    width: 200px;
    height: 1px;
    background: black;
    margin: auto;
}

.grey-font {
    color: grey;
}

.wrapper {
    border: solid 1px black;
    border-radius: 10px;
    padding: 2%;
    font-size: 12px;
    display: inline-block;
    box-shadow: 5px 5px 8px #c8c8c8;
    width: 40%;
    text-align: end;
}

.grey-border {
    border: solid 2px #c8c8c8;
    border-radius: 4px;
    padding: 5px;
    margin-bottom: 4%;
    margin-left: auto;
    width: 50%;
}

.right-content-header {
    background-color: #444444;
    height: 80px;
    text-align: end;
}

.list-buttons {
     margin-bottom:10px;
    }

.header-content {
    background-color: #D9D9D9;
    padding: 20px;
    font-weight: 400;
    font-size: 36px;
}

.left-content {
    background-color: #D9D9D9;
    padding: 20px;
    margin-right: 1%;
    font-size: 16px;
    font-weight: 400;
    flex: 0.75;
    box-shadow: 7px 4px 15px #D9D9D9;
}

.center-content {
    margin-right: 1%;
    flex: 2;
    box-shadow: 7px 4px 15px #D9D9D9;
}

.center-content-header {
    padding: 12px 4% 12px 4%;
    color: #d6c76b;
    background-color: black;
    display: flex;
    font-size: 16px;
}

.right-main-wrapper {
    display: flex;
    flex-wrap: wrap;
    font-size: 14px;
    justify-content: left;
    margin-top: 10%;
    margin-left: 15%;
}

.right-blocks-wrapper {
    background-color: #D9D9D9;
    align-content: center;
    align-items: center;
    text-align: center;
    padding-top: 10px;
    align-content: center;
    border-radius: 10px;
    width: 80px;
    height: 80px;
    margin: 0 20px 20px 0;
}

.right-content {
    background-color: white;
    flex: 0.7;
    box-shadow: 7px 4px 15px #D9D9D9;
}

li {
    font-size: 16px;
    list-style-type: none;
    margin-bottom: 15px;
}

ul {
    font-size: 14px;
    list-style-type: none;
    margin: 0;
}

.left-titles {
    font-size: 14px;
}

